.cards{
  box-sizing: border-x;
  width: 920px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 0px;
  margin: 0 auto 100px auto;
  list-style-type: none;
  text-align: center;
}

.cards li:nth-child(2){
  margin: 0 100px;
}

.cards li:nth-child(5){
  margin: 0 0 0px 100px;
}